<!DOCTYPE html>
<html lang="hu">
  <head>
    <meta charset="utf-8">
    <title>Weboldal címe</title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
  </head>
  <body>
    <h1>Ez a főoldal tartalma!</h1>
    <p>
    <h3 style="color:blue;">Módosításhoz cseréld ki az <i style="color:red;">index.html</i> állományt a <i style="color:red;">templates</i> könyvtárban, a konténer kötetében!</h3>
    <h3 style="color:blue;">Indítsd újra az alkalmazást!</h3>
    <p>
    <p>
    <h5 style="color:black;">2023.04.19</h5>
  </body>
</html>